@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

h1 {
    color: #C84B31;
    font-size: 36px;
    font-family: 'Rye';
}

h3 {
    color: #C84B31;
    font-size: 18px;
    font-family: 'Rye';
    max-width: 700px; margin: 1em auto; text-align: center;
}

p {
    color: #206DB6;
    font-size: 18px;
    font-family: 'Bitter', serif;
    max-width: 700px; margin: 1em auto; text-align: center;
}

html {
    box-sizing: border-box;
}
    *{
        box-sizing: inherit;
    }

footer {
    color: #206DB6;
    font-size: 18px;
    font-family: 'Bitter', serif;
    max-width: 700px; margin: 1em auto; text-align: center;
    padding: 1em;
    padding-left: 45px;
}

.resume-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border: 2px solid #C84B31;
    border-radius: 6px;
    text-decoration: none;
    color: #C84B31;
    font-family: 'Rye', serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.85); 
    transition: all 0.2s ease;
}

ul {
    list-style-type: disc !important; 
    list-style-position: inside;
    padding-left: 30px;    
    margin: 1em auto;
    max-width: 700px;
    text-align: left; 
    color:#206DB6;
}

#hero {
    background: url('image2.webp') no-repeat center / cover;
    padding: 20px;
    text-align: center;
    height: 90vh;
    color: #C84B31;
}
